<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="olszewski.filip.pl.ctalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity">

        </activity>
        <activity
            android:name=".activity.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".activity.SingleEventActivity">

        </activity>
        <activity android:name=".activity.MenuActivity">

        </activity>
        <activity android:name=".activity.TagsActivity">

        </activity>
        <activity android:name=".activity.ProvinceActivity">

        </activity>
        <activity android:name=".activity.ConversationActivity">

        </activity>
        <activity android:name=".activity.AddContactActivity">

        </activity>
    </application>
</manifest>
